<h1>Articles#index</h1>

<!--<a href="/articles/new">Create new</a>-->
<%= link_to "New Article", new_article_path %>
<table>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td>
<!--        <a href="<%#= article_path(article) %>" target="_blank">-->
<!--            View-->
<!--        </a>-->
        <%= link_to 'View', article %>
      </td>
    </tr>
  <% end %>
</table>
