<h1>Articles#show</h1>

<%= link_to "Go Back", '/articles' %>
<br>

<label for="id">Id:</label>
<p><%= @article.id %></p>

<label for="id">Title:</label>
<p><%= @article.title %></p>

<label for="id">Body:</label>
<p><%= @article.body %></p>

<%= link_to "Edit", edit_article_path(@article) %>

<%= link_to "Delete", article_path(@article), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>